extends layout

block content
  canvas#canvas(width=400, height=400)
  form(class='form')
    label(name='name') Annonate With Me!
    input(type='text', name='name', id='name')
    .form-actions
      input(type='submit', class='btn btn-primary')
